.footer_section {
  position: relative;
  z-index: 10;
  background: rgba(35, 34, 34, .8);
  padding-top: 33px;
  padding-bottom: 33px;
}

.footer__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin-left: -22px;
  margin-right: -22px;
}

.footer__item {
  margin-left: 22px;
  margin-right: 22px;
}

.footer__link {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

.footer__logo-link {
  background: url("../img/common/bottom-logo-common.svg") no-repeat center;
  background-size: 100% auto;
  width: 243px;
  height: 43px;
  display: block;
  margin-left: auto;
}

.footer-solo {
  background: #232222;
}

@media (max-width: 991.98px) {
  .footer__logo-wrapper {
    margin-top: 40px;
  }

  .footer__logo-link {
    margin-left: 0;
  }

  .footer__list {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .footer_section {
    padding-bottom: 110px;
  }

  .footer__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}