.header {
  background: #FB5C3E;
}

.header-main {
  padding-top: 52px;
  padding-bottom: 50px;
}

.header__language-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 14px -11px 0 -11px;
}

.header__language-item {
  margin-left: 11px;
  margin-right: 11px;
}

.header__language-link {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  position: relative;
  
  &:hover {
    color: #000000;
    text-decoration: none;
  }
  
  &:hover:before,
  &.active:before {
    content: '';
    position: absolute;
    background: #000;
    height: 5px;
    width: 32px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__nav-ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__nav-li {
  border: 1px solid #000000;

  &:not(:last-child) {
    border-right: none;
  }
}

.header__nav-link {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 17px 25px;
  display: block;
  transition: 0.2s;

  &:hover {
    background: #CA2D10;
    color: #000000;
    text-decoration: none;
    transition: 0.2s;
  }

  &.active {
    background: #CA2D10;
  }
}